.body {

}

.image-shadow {
  background-color: hsla(296, 9%, 39%, 0.356);
  height: 350px;
  width: 350px;
  position: relative;
  left: 800px;
  top: 150px;
}

.image {
  height: 250px;
  width: 250px;
  position: relative;
  top: 13%;
  left: -15%;
}
